@import 'colors';

$alphin-primary-palette: (
  50: $alphin-blue,
  100: $alphin-blue,
  200: $alphin-blue,
  300: $alphin-blue,
  400: $alphin-blue,
  500: $alphin-blue,
  600: $alphin-blue,
  700: $alphin-blue,
  800: $alphin-blue,
  900: $alphin-blue,
  contrast: (
    50: $alphin-white,
    100: $alphin-white,
    200: $alphin-white,
    300: $alphin-white,
    400: $alphin-white,
    500: $alphin-white,
    600: $alphin-white,
    700: $alphin-white,
    800: $alphin-white,
    900: $alphin-white,
  ),
);
$alphin-warn-palette: (
  50: $alphin-blue,
  100: $alphin-blue,
  200: $alphin-blue,
  300: $alphin-blue,
  400: $alphin-blue,
  500: $alphin-blue,
  600: $alphin-blue,
  700: $alphin-blue,
  800: $alphin-blue,
  900: $alphin-blue,
  contrast: (
    50: $alphin-white,
    100: $alphin-white,
    200: $alphin-white,
    300: $alphin-white,
    400: $alphin-white,
    500: $alphin-white,
    600: $alphin-white,
    700: $alphin-white,
    800: $alphin-white,
    900: $alphin-white,
  ),
);
