<div class="post-info">
  <div *ngIf="post">
    <div class="row">
      <div class="post-info--likes col-sm-6">
        <mat-icon svgIcon="likes"></mat-icon>
        {{ post.counts.likes| thousandSuffix }}
      </div>
      <div class="post-info--comments col-sm-6">
        <mat-icon svgIcon="comments"></mat-icon>
        {{ post.counts.comments | thousandSuffix }}
      </div>
    </div>
    <div class="row">
      <div class="post-info--date col-sm-12">
        {{ post.postedAt | formatDate }}
      </div>
    </div>
  </div>
</div>
