@use '/src/assets/scss/colors' as colors;

.post {
  border-radius: 12px;
  border-left: 12px solid colors.$alphin-blue;
  padding: 25px;
  &--container {
    justify-content: space-between;
  }
  &--image,
  &--caption,
  &--user,
  &--info,
  &--info-container,
  &--controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  &--image {
    overflow: hidden;
    padding: 0 22px;
    max-height: 250px;
    text-align: center;
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }
}
